{% extends 'task_common.html' %}

{% block title %}MLV Task - Settings{% endblock title %}
{% block mode %}setting{% endblock mode %}

{% block widget %}
{% include 'widgets.html' with id=id %}
{% endblock widget %}

{% block content %}
<h3>Confirmation</h3>
<strong>Selected Condition :</strong> 
<div id="SelectedCondition"></div> <br>





<div id="insufficient_settings" style="display: none;">Condition for seeds are not selected.<br>Please selected condition for seeds</div>
<div id="run_mlv" class="upload_form" style="padding-top:0px">
  <form action="." method="POST" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}

	<!-- Currently don't need this... -->
    <input type="text" name="cutoff" value="None" style="display:none">
	<!--                              -->
	<br>
	<input type="radio" id="Descend" name="sort_method" value="descend" checked \><label for="Descend">Similarity (Descending)</label>
	<input type="radio" id="Ascend" name="sort_method" value="ascend"><label for="Ascend">Dissimiliarity (Ascending)</label>
	<br>
    <input type="submit" class="btn btn-primary" value="Run">
    </div>
  </form>

  <font color="red">NOTE : Please do not push "RUN" button instantly (when you visit this "settings page" at the first time)</font> <br>
<br>
  Our server might not catch up the process.. usually 10 secs is fine.<br>
  If you visit the error page, you can go back to your project using 'previous page' button.<br>
  We will try to handle this issue soon..


</div>

<script>

//var SelectedCondition = document.getElementById("SelectedCondition");
//var SelectedCondition = SelectedCondition.innerHTML;

var SelectedCondition = '{{ selected_condition | safe }}';
var div_SelectedCondition = document.getElementById("SelectedCondition");

var seed_info_file = 'test';

if (SelectedCondition == 'None')
{
	document.getElementById("run_mlv").style.display = "none";
	document.getElementById("insufficient_settings").style.display = "block";
}

div_SelectedCondition.innerHTML += SelectedCondition;

</script>

{% endblock content %}
