{% extends 'task_common.html' %}

{% block title %}MLV Task - Settings{% endblock title %}
{% block mode %}setting{% endblock mode %}

{% block widget %}
{% include 'widgets.html' with id=id %}
{% endblock widget %}

{% block content %}
<h3>Settings</h3>
<strong>Selected Condition :</strong> 
<div id="SelectedCondition"></div> <br>


<div id="insufficient_settings" style="display: none;">Condition for seeds are not selected.<br>Please selected condition for seeds</div>
<div id="run_mlv" class="upload_form">
  <form action="." method="POST" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    <input type="text" name="cutoff" value="None">
	<br>
	<br>
	<input type="radio" id="Descend" name="sort_method" value="descend" checked \><label for="Descend">Similarity (Descending)</label>
	<input type="radio" id="Ascend" name="sort_method" value="ascend"><label for="Ascend">Dissimiliarity (Ascending)</label>
	<br>
    <input type="submit" class="btn btn-primary" value="Run">
    </div>
  </form>
</div>

<script>

//var SelectedCondition = document.getElementById("SelectedCondition");
//var SelectedCondition = SelectedCondition.innerHTML;

var SelectedCondition = '{{ selected_condition | safe }}';
var div_SelectedCondition = document.getElementById("SelectedCondition");

var seed_info_file = 'test';

if (SelectedCondition == 'None')
{
	document.getElementById("run_mlv").style.display = "none";
	document.getElementById("insufficient_settings").style.display = "block";
}

div_SelectedCondition.innerHTML += SelectedCondition;

</script>

{% endblock content %}
