{% extends 'task_common.html' %}

{% block title %}MLV Task - File Upload{% endblock title %}
{% block mode %}upload{% endblock mode %}

{% block widget %}
{% include 'widgets.html' with id=id %}
{% endblock widget %}

{% block content %}

<h3>Upload files that contains gene list</h3>
<span>Venn-diaNet recommends to upload DEG lists that contains transcript ID or gene ID <br> Each file indicates independent conditions.</span> <br>

{% if upload_file_count %}
<span>File is already uploaded ({{ upload_file_count }} conditions)</span>
{% endif %}

<br>
(+) to add file <br>
(-) to decrease file <br>

<div class="upload_form" style="padding-top: 10px">
  <div class="upload_control">
    <button type="button" class="btn btn-outline-primary" id="upload_slot_add"><i class="fas fa-plus"></i></button>
    <button type="button" class="btn btn-outline-primary" id="upload_slot_remove"><i class="fas fa-minus"></i></button>
  </div>
  <form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <ol id="upload_slot">
    <li><input type="file" name="file1"></li>
    </ol>
    <input type="submit" class="btn btn-primary" value="Upload files">
    </div>
  </form>
</div>

{% endblock content %}
